.wrap{
	position: relative;
	padding-left: 5px;
}
.wrap::before{
	content: '';
    position: absolute;
    left: -5%;
    border-radius: 10px;
    width: 5px;
    height: 100%;
}

.HopefulMaddie_w{}
.HopefulMaddie_w::before{
	background-color: #FFFFBF;
}

.Mania_w{}
.Mania_w::before{
	background-color: #ff2400;
}

.Bonewagon_w{}
.Bonewagon_w::before{
	background-color: #000080;
}

.Gideon_w{}
.Gideon_w::before{
	background-color: #708090;
}

.vl{
	position: relative;
	padding-left: 5px;
}

.vl::before{
	content: '';
	position: absolute;
    left: -5%;
	border-right: 5px dashed #c9c9c9;
	top: 5%;
	height: 90%;
}
