<header>
  <nav>
    <ul>
      <li>
        <a href="/" class="home">Home</a>
      </li>
      <li>
        <details name="navbar">
          <summary>Stories</summary>
          <ul>
            <li>
              <a href="/stories/jainachrome/">Jainachrome Stories</a>
            </li>
            <li>
              <a href="/stories/companion/">Companion Stories</a>
            </li>
            <li>
              <a href="/stories/other/">Other Works</a>
            </li>
          </ul>
        </details>
      </li>
      <li>
        <a href="/gallery/">Gallery</a>
      </li>
    </ul>
    <ul>
      <li>
        <details name="navbar">
          <summary>About</summary>
          <ul>
            <li>
              <a href="/about/site.html">About This Site</a>
            </li>
            <li>
              <a href="/about/jaina/">
                About Jaina
                <i data-icon="moon"></i>
              </a>
            </li>
            <li>
              <a href="/about/monochrome/">
                About Monochrome
                <i data-icon="star"></i>
              </a>
            </li>
            <li>
              <a href="/about/contact.html">Contact Us!</a>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
