.wrap{
	position: relative;
	padding-left: 5px;
}
.wrap::before{
	content: '';
    position: absolute;
    left: -5%;
    border-radius: 10px;
    width: 5px;
    height: 100%;
}

.Shape_w{}
.Shape_w::before{
    background-color: #d2b48c;
}

.Vera_w{}
.Vera_w::before{
    background-color: #2761B2;
}

.Anya_w{}
.Anya_w::before{
    background-color: #ffaaee;
}

.Yarrow_w{}
.Yarrow_w::before{
    background-color: #43551F;
}

.Ophelia_w{}
.Ophelia_w::before{
    background-color: #E432B1;
}

.Fluffs_w{}
.Fluffs_w::before{
    background-color: #98817b;
}

.vl{
	position: relative;
	padding-left: 5px;
}

.vl::before{
	content: '';
	position: absolute;
    left: -5%;
	border-right: 5px dashed #4a4a4a;	
	top: 5%;
	height: 90%;
}