.wrap{
	position: relative;
	padding-left: 5px;
}
.wrap::before{
	content: '';
    position: absolute;
    left: -5%;
    border-radius: 10px;
    width: 5px;
    height: 100%;
}

.Clyde_w{}
.Clyde_w::before{
	background-color: #ffc1cc;
}

.Nebula_w{}
.Nebula_w::before{
	background-color: #37305c;
}

.vl{
	position: relative;
	padding-left: 5px;
}

.vl::before{
	content: '';
	position: absolute;
    left: -5%;
	border-right: 5px dashed #c9c9c9;
	top: 5%;
	height: 90%;
}
