div {
	position: relative;
	width: 85%;
	border: 5px solid #cacaca;
	padding: 16px;
	margin: 10px;
}

h3 {
	margin-top: -18px;	
}

p {
	text-align: left;
}
  
.stamp {
	position: absolute;
	top: -8%;
	right: -8%;
	max-width: 40%;
	max-height: 40%
}

.dotted {
	border: 5px dashed #cacaca;
}