.wrap{
	position: relative;
	padding-left: 5px;
}
.wrap::before{
	content: '';
    position: absolute;
    left: -5%;
    border-radius: 10px;
    width: 5px;
    height: 100%;
}

.Jaina_w{}
.Jaina_w::before{
    background-color: #d2b48c;
}

.Azu_w{}
.Azu_w::before{
    background-color: #bbbbbb;
}

.Anya_w{}
.Anya_w::before{
    background-color: #ffaaee;
}

.Aurora_w{}
.Aurora_w::before{
    background-color: #9ff9ff;
}

.Aeon_w{}
.Aeon_w::before{
    background-color: #666666;
}

.Athame_w{}
.Athame_w::before{
    background-color: #a2a2a2;
}

.Ema_w{}
.Ema_w::before{
    background-color: #a00000;
}

.vl{
	position: relative;
	padding-left: 5px;
}

.vl::before{
	content: '';
	position: absolute;
    left: -5%;
	border-right: 5px dashed #c9c9c9;
	top: 5%;
	height: 90%;
}